body {
    background-color: #6593f5;
}

h1 {
    text-align: center;
    padding-bottom: 7%;
}

.container {
    color: white;
    background-color: #111e6c;
    padding: 5% 10% 8%;
    width: 60%;
    margin: 10% 15% 0% 20%;
    border-radius: 3%;
}

.Taskme {
    text-align: center;
    /* margin-bottom: 5px; */
}

.fas {
    float: right;
    color: red;
}

.collection {
    padding-left: 0px;
}